.card-container {
  position: relative;
}

.card-image {
  display: block;
	height: 270px;
	width: 200px;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
	width: 200px;
  height: 270px;
}

.card-container:hover .card-overlay {
  opacity: 1;
}

.card-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.start-checked {
  color: orange;
}

.start-checked-big {
  color: orange; 
  font-size: 30px;
  margin-top: 8px;
}

.rack-main {
	background-color: black;
}

.modal-content {
	height: 85vh;
  background-color: black;
  margin-top: 70px;
}

#review-modal {
	max-width: 1200px;
}

#review-body {
	background-color: black;
}

.background-image {
  height: 91.2vh; /* You must set a specified height */
  background-position: 10% 35%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.4;
}

.rating-row{
  height: 100px;
  margin-top: 50px;
}

.review-block{
  color: #39FDE3;
  border-bottom: 1px ridge;
  padding-bottom: 10px;
}
.ScrollbarsCustom-ThumbY {
  background-color: #39FDE3;
}
.review-title{
  font-size:1.2rem;
  font-weight: bold;
  margin-left: 38px;
}

.review-score{
  margin-left: 38px;
}

.review-desc{
  margin-left: 38px;
}

.img-col{
  border-right: 1px white ridge;
}

.movie-create-body {
  background-color: black;
}